<a href="https://colab.research.google.com/github/Akshata-211/FDS_Journal/blob/main/Practical_Number_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_dict={'Name':["a","b","c","d","e","f","g"],
        'age':[20,27,35,45,55,43,35],
        'designation':["VP","CEO","CFO","VP","VP","CEO","MD"]}

import pandas as pd
import numpy as np
df=pd.DataFrame(my_dict)
df

  Name  age designation
0    a   20          VP
1    b   27         CEO
2    c   35         CFO
3    d   45          VP
4    e   55          VP
5    f   43         CEO
6    g   35          MD

In [2]:
df.to_csv('Csv example')
df

  Name  age designation
0    a   20          VP
1    b   27         CEO
2    c   35         CFO
3    d   45          VP
4    e   55          VP
5    f   43         CEO
6    g   35          MD

In [3]:
df_csv=pd.read_csv('Csv example')
df_csv

   Unnamed: 0 Name  age designation
0           0    a   20          VP
1           1    b   27         CEO
2           2    c   35         CFO
3           3    d   45          VP
4           4    e   55          VP
5           5    f   43         CEO
6           6    g   35          MD

In [4]:
df.to_csv('CSV Ex',index=False)
df_csv=pd.read_csv('CSV Ex')
df_csv

  Name  age designation
0    a   20          VP
1    b   27         CEO
2    c   35         CFO
3    d   45          VP
4    e   55          VP
5    f   43         CEO
6    g   35          MD

In [6]:
import pandas as pd 
import os
import sqlite3 as lite
from sqlalchemy import create_engine

In [7]:
studentId=["rj101","rj150","rj134","rj70"]
SName=["Saurabh","Giftson","Vikas","Radha"]
LName=["Chavan","Paul","Bisoi","Rai"]
Department=["Bms","Bcom","BscCS","BScIT"]
Email=["100rabh@gmail.com","gift01@gmail.com","vik21@gmail.com","rad01@gmail.com"]

In [8]:
studata = zip(studentId,SName,LName,Department,Email)

In [9]:
df = pd.DataFrame(data =studata, columns=['StudentId','SName','LName','Department','Email'])
df

  StudentId    SName   LName Department              Email
0     rj101  Saurabh  Chavan        Bms  100rabh@gmail.com
1     rj150  Giftson    Paul       Bcom   gift01@gmail.com
2     rj134    Vikas   Bisoi      BscCS    vik21@gmail.com
3      rj70    Radha     Rai      BScIT    rad01@gmail.com

In [10]:
df1=df.to_csv('studentdata.csv',index=False,header=True)
df1

In [11]:
df2=df.to_excel('studentdata2.xlsx',index=False,header=True)

In [12]:
df2

In [13]:
db_filename = r'studentdata.db'
con = lite.connect(db_filename)
df.to_sql('student',
con,
schema=None,
if_exists='replace',
index=True,
index_label=None,
chunksize=None,
dtype=None)
con.close()

db_file = r'studentdata.db'
engine = create_engine(r"sqlite:///{}" .format(db_file))
sql = 'SELECT * from student '


studf = pd.read_sql(sql, engine)
studf

   index StudentId    SName   LName Department              Email
0      0     rj101  Saurabh  Chavan        Bms  100rabh@gmail.com
1      1     rj150  Giftson    Paul       Bcom   gift01@gmail.com
2      2     rj134    Vikas   Bisoi      BscCS    vik21@gmail.com
3      3      rj70    Radha     Rai      BScIT    rad01@gmail.com

In [14]:
import numpy as np
import pandas as pd

In [20]:
import pandas as pd
import numpy as np
cols=['col0', 'col1', 'col2', 'col3', 'col4']
rows=['row0', 'row1', 'row2', 'row3', 'row4']
data=np.random.randint(0, 100, size=(5,5))
df=pd.DataFrame(data, columns=cols, index=rows)
df.head()

      col0  col1  col2  col3  col4
row0    54    80    85    83    73
row1    19    79    15     2     5
row2    68     5    89    43    71
row3    90    32    70    29    54
row4    32    44    47     6     0

In [21]:
df.iloc[4,2]

47

In [22]:
df.iloc[3, 3]=0
df.iloc[1, 2]=np.nan
df.iloc[4, 0]=np.nan
df['col5']=0
df['col6']=np.nan
df.head()

      col0  col1  col2  col3  col4  col5  col6
row0  54.0    80  85.0    83    73     0   NaN
row1  19.0    79   NaN     2     5     0   NaN
row2  68.0     5  89.0    43    71     0   NaN
row3  90.0    32  70.0     0    54     0   NaN
row4   NaN    44  47.0     6     0     0   NaN

In [23]:
df.loc[:,df.all()]

      col0  col1  col2  col6
row0  54.0    80  85.0   NaN
row1  19.0    79   NaN   NaN
row2  68.0     5  89.0   NaN
row3  90.0    32  70.0   NaN
row4   NaN    44  47.0   NaN

In [24]:
df.loc[:,df.any()]

      col0  col1  col2  col3  col4
row0  54.0    80  85.0    83    73
row1  19.0    79   NaN     2     5
row2  68.0     5  89.0    43    71
row3  90.0    32  70.0     0    54
row4   NaN    44  47.0     6     0

In [25]:
df.loc[:,df.isnull().any()]

      col0  col2  col6
row0  54.0  85.0   NaN
row1  19.0   NaN   NaN
row2  68.0  89.0   NaN
row3  90.0  70.0   NaN
row4   NaN  47.0   NaN

In [26]:
df.loc[:,df.notnull().all()]

      col1  col3  col4  col5
row0    80    83    73     0
row1    79     2     5     0
row2     5    43    71     0
row3    32     0    54     0
row4    44     6     0     0

In [27]:
df.dropna(how="all",axis=0)

      col0  col1  col2  col3  col4  col5  col6
row0  54.0    80  85.0    83    73     0   NaN
row1  19.0    79   NaN     2     5     0   NaN
row2  68.0     5  89.0    43    71     0   NaN
row3  90.0    32  70.0     0    54     0   NaN
row4   NaN    44  47.0     6     0     0   NaN

In [28]:
df.fillna(df.sum())

       col0  col1   col2  col3  col4  col5  col6
row0   54.0    80   85.0    83    73     0   0.0
row1   19.0    79  291.0     2     5     0   0.0
row2   68.0     5   89.0    43    71     0   0.0
row3   90.0    32   70.0     0    54     0   0.0
row4  231.0    44   47.0     6     0     0   0.0

In [29]:
#Demonstrate transfomr function using pandas in python
import pandas as pd
import numpy as np
import random
data = pd.DataFrame({
    'C' : [random.choice(('a','b','c')) for i in range(1000000)],
    'A' : [random.randint(1,10) for i in range(1000000)],
    'B' : [random.randint(1,10) for i in range(1000000)]

})
data

        C  A  B
0       a  1  8
1       a  1  6
2       a  8  5
3       c  7  1
4       a  7  2
...    .. .. ..
999995  a  6  8
999996  c  4  6
999997  b  4  6
999998  c  3  5
999999  b  8  9

[1000000 rows x 3 columns]

In [30]:
v=data.groupby('C')["A"].mean
v

In [31]:
mean=data.groupby('C')["A"].mean().rename("D").reset_index()
mean

   C         D
0  a  5.493353
1  b  5.501661
2  c  5.504236

In [32]:
df_1=data.merge(mean)
df_1

        C   A   B         D
0       a   1   8  5.493353
1       a   1   6  5.493353
2       a   8   5  5.493353
3       a   7   2  5.493353
4       a  10   4  5.493353
...    ..  ..  ..       ...
999995  b   9   1  5.501661
999996  b   7   6  5.501661
999997  b  10  10  5.501661
999998  b   4   6  5.501661
999999  b   8   9  5.501661

[1000000 rows x 4 columns]